table {
    width: 100%;
    margin-top: 10px;
  }
  th {
    width: 10%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .example-spacer{
    flex: 1 1 auto;
  }
  
  .tableHeader{
    color:blue;    
  }

  .alignValue{
    text-align: left;
  }